root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Python settings
[*.{py,cfg}]
indent_size = 4

# Markdown settings
[*.md]
trim_trailing_whitespace = false
